<div class="row whatwedo_table-foot">
    <div class="col-xs-12">
        {% include 'whatwedoTableBundle::_pagination.html.twig' %}
        {% if table.paginationExtension is not null %}
            {% set pagination = table.paginationExtension %}
            <p>
                <small>
                    Resultat {% if table.results|length == 0 %}0{% else %}{{ pagination.offsetResults + 1 }}{% endif %} bis {{ pagination.offsetResults + table.results|length }} von {{ pagination.totalResults }}
                </small>
            </p>
        {% endif %}
    </div>
</div>

