<div class="row whatwedo_table-foot">
    <div class="col-xs-12">
        {% include '@whatwedoTable/_pagination.html.twig' %}
        {% if table.paginationExtension is not null %}
            {% set pagination = table.paginationExtension %}
            <p>
                <small>
                    {% set offsetResults = 0 %}
                    {% if table.results|length %}{%  set offsetResults = pagination.offsetResults + 1 %}{% endif %}
                    {% set offsetLength = pagination.offsetResults + table.results|length %}
                    {% set totalResults = pagination.totalResults %}

                    {{ 'whatwedo_table.foot.result'|trans({'%offsetResults%': offsetResults, '%offsetLength%': offsetLength, '%totalResults%': totalResults }) }}
                </small>
            </p>
        {% endif %}
    </div>
</div>

