{% import "whatwedoTableBundle::_macros.html.twig" as macros %}

<div class="table-responsive">

    {% if table.options.tableAttrs.class is not defined %}
        {% set contentAttrs = table.options.tableAttrs|merge({
            class: 'table table-striped table-hover whatwedo_table_inner whatwedo_table_inner_' ~ table.identifier
        }) %}
    {% else %}
        {% set contentAttrs = table.options.tableAttrs|merge({
            class: 'table table-striped table-hover whatwedo_table_inner whatwedo_table_inner_' ~ table.identifier ~ ' ' ~ table.options.tableAttrs.class
        }) %}
    {% endif %}

    <table {{ macros.attributes(contentAttrs) }}>
        <thead class="thead-default">
        {% include 'whatwedoTableBundle::_head.html.twig' %}
        </thead>
        <tbody>
        {% include 'whatwedoTableBundle::_content.html.twig' %}
        </tbody>
    </table>
</div>
