{% import "whatwedoTableBundle::_macros.html.twig" as macros %}

{% if table.options.attr.class is not defined %}
    {% set contentAttr = table.options.attr|merge({
        class: 'box whatwedo_table whatwedo_table_' ~ table.identifier
    }) %}
{% else %}
    {% set contentAttr = table.options.table_attr|merge({
        class: 'box whatwedo_table whatwedo_table_' ~ table.identifier ~ ' ' ~ table.options.attr.class
    }) %}
{% endif %}

{% set contentAttr = contentAttr|merge({
    id: 'whatwedo_table_' ~ table.identifier,
    'data-identifier': table.identifier
}) %}

<div {{ macros.attributes(contentAttr) }}>
    {% set hasSearchArea = table.searchExtension or table.paginationExtension or table.filterExtension or table.exportRoute %}

    {% if title or hasSearchArea %}
        <div class="box-header">
            {% if title %}
            <h3 class="box-title">{{ title }}</h3>
            {% endif %}

            {% if hasSearchArea %}
                {% include 'whatwedoTableBundle::_search.html.twig' %}
            {% endif %}
        </div>
    {% endif %}

    <div class="box-body">
        {% include 'whatwedoTableBundle::_filter.html.twig' %}

        {% include "whatwedoTableBundle::_table.html.twig" %}
    </div>

    <div class="box-footer clearfix">
        {% include 'whatwedoTableBundle::_foot.html.twig' %}
    </div>

    <div class="whatwedo_table-overlay">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</div>
