{% import "@whatwedoTable/_macros.html.twig" as macros %}

{% if table.options.table_attr.class is not defined %}
    {% set contentAttr = table.options.table_attr|merge({
        class: 'table table-striped table-hover whatwedo_table_inner whatwedo_table_inner_' ~ table.identifier
    }) %}
{% else %}
    {% set contentAttr = table.options.table_attr|merge({
        class: 'table table-striped table-hover whatwedo_table_inner whatwedo_table_inner_' ~ table.identifier ~ ' ' ~ table.options.table_attr.class
    }) %}
{% endif %}

{% set contentAttr = contentAttr|merge({
    id: 'whatwedo_table_' ~ table.identifier,
    'data-identifier': table.identifier
}) %}
<div class="table-responsive">
    {% if table.tableOnly %}
        <div class="whatwedo_table-table_only-actions">
            {{ macros.tableExportButton(table) }}
        </div>
    {% endif %}
    <table {{ macros.attributes(contentAttr) }}>
        <thead class="thead-default">
        {% include '@whatwedoTable/_head.html.twig' %}
        </thead>
        <tbody>
        {% include '@whatwedoTable/_content.html.twig' %}
        </tbody>
    </table>
</div>
